html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(15, 32, 39, 0.7);
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    margin: 0;
    font-size: 22px;
    color: #ffffff;
}

.nav-links {
    display: flex;
    gap: 30px;
    margin-left: 60px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.nav-links a:hover {
    color: #d85b6a;
}

.hero {
    background: transparent;
    color: #ffffff;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.subtitle {
    color: #d85b6a;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-text h1 {
    font-size: 48px;
    margin: 0;
    line-height: 1.2;
}

.hero-text h1 span {
    color: #ffffff;
}

.description {
    margin-top: 20px;
    color: #b9b9b9;
    font-size: 17px;
    line-height: 1.6;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.sosmed-icon {
    width: 32px;
    height: 32px;
    transition: 0.2s;
}

.sosmed-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.hero-image img {
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/*tentang saya*/

.about {
    padding: 80px 100px;
    background: rgba(255, 255, 255, 0.05);
    color: #ffffff;
}

.about p {
    color: #e0e0e0;
    font-size: 18px;
    line-height: 1.7;
}

.about-container {
    max-width: 900px;
}

.about h2 {
    font-size: 18px;
    line-height: 1.7;
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
}

/*keterampilan*/
.skills {
    padding: 80px 100px;
    background: rgba(255, 255, 255, 0.04);
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
}

.skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.skill-icon {
    width: 50px;
    height: auto;
    opacity: 0.9;
}

.skills-box:hover {
    transform: translateY(-4px);
    background: #d85b6a;
    color: white;
}

/*Portofolio*/
.portofolio {
    padding: 80px 100px;
    background: rgba(255, 255, 255, 0.05);
}

.portofolio h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
}

.portofolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    align-items: start;
}

.portofolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.portofolio-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.4);
    transition: 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 25px 15px 0px;
    font-size: 14px;
    line-height: 1.4;
    opacity: 0;
    transition: 0.3s ease;
    border-radius: 10px;
}

.portofolio-item:hover .overlay {
    opacity: 1;
}

.portofolio-item img:hover {
    transform: scale(1.1);
}